* {margin: 0px auto; padding: 0px;}

/* Main + standard styling */
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    transition: all 1s ease-in-out;
    position: relative;
    width: 100vw!important;
    height: 100vh!important;
    overflow: hidden!important;

    /* Main font-family */
    font-family: "Oxanium", sans-serif!important;
    font-size: 1em;
    color: white;
}

/* animation */
body, header, main, main div {
    transition: all 1s ease-in-out!important;
}

/* Font & Text */

H1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
p, input, a, b, form, button, label {
    font-family: "Oxanium", sans-serif!important;
    font-size: 1em;
}
/* Pages styling */
.page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
}

/* Innovations */
.innovation {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* Buttons styling */
.button, button, form button, form .button {
    /* background */
    background: transparent;

    /* Border and text */
    border: solid #25A93A 2px;
    border-radius: 20px;
    color: #25A93A;
    font-weight: 900;

    /* inner-element */
    padding: 5px 30px 5px 30px;
}

/* form */

input {
    background: transparent;

    padding: 20px;
   
    /* text styling */
    text-align: center;
    color: white;

    /* Border styling */
    border: 0px transparent;
    border-bottom: solid 1px white;
}


/*                         Hover effect                  */

/* Button hover */
.button:hover, button:hover, form button:hover, form .button:hover {
    /* background */
    background: #25A93A;
    color: white;
}