#dashboard {
    z-index: 4; /* This puts the the page on the second place */
    
    transition: all 1s ease-in-out!important;
}

/* dash board header styling */
#dashboard-header {
    height: 80px;
    text-align: center;
    position: relative;
}

/* dashboard img/logo styling */
#dashboard-header img {
    height: 80%;
    top: 50%;
    transform: translate(0%, -50%);
    position: inherit;
}

/* Dashboard list */
#dashboard-list {
    height: calc(100vh - 80px);
    width: 100%;

    /* items positioning */
    position: relative;
    text-align: center;
    float: left;
}

/* Dashboard list items */
.dashboard-list-item {
    /* background */
    background-color: rgba(255, 230, 0, 0.089);
    background-size: cover;

    /* item size */
    width: calc(33%);
    height: calc(49%);

    /* items positioning */
    position: relative;
    display: inline-block;

    /* spacing */
    padding-top: 5px;
    overflow: hidden;

    /* opacity */
    opacity: .5;
}

/* Dashboard list items: childs - background image*/

#dashboard-list-item-1 {
    background-image: url(image/background/65c4b957edd4b837ed56718644824fa0.jpg);
}
#dashboard-list-item-2 {
    background-image: url(image/background/9e74ecd8e520cf095619105fac7ed34a.jpg);
}
#dashboard-list-item-3 {
    background-image: url(image/background/ce2b57c98654ce4de9d731da84ffd04c.jpg);
}
#dashboard-list-item-4 {
    background-image: url(image/background/1799ee4805ccdb7b5feec2f388a0e528.jpg);
}
#dashboard-list-item-5 {
    background-image: url(image/background/0ec69056744e3f7d9217210136fa96be.jpg);
}
#dashboard-list-item-6 {
    background-image: url(image/background/1799ee4805ccdb7b5feec2f388a0e528.jpg);
}

/* inner list */
ul li .inner-list-item {
    width: auto;
    height: auto;

    /* positioning */
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

/* list item icons */
ul li div .list-icon {
    height: 30px;
    border-radius: 10%;
    box-shadow: 8px 8px 8px black;
}

/* icon label */
.list-icon-label {
    opacity: 0;
    text-shadow: 8px 8px 8px black;
}

/*                                               HOVER               */

.dashboard-list-item:hover {
    transition: all 1s ease-in-out!important;
    opacity: 1;
    /* filter: blur(3px); */
}

ul li:hover .inner-list-item {
    backdrop-filter: blur(8px);
}

ul li:hover .list-icon-label {
    opacity: 1;
    transition: all 1s ease-in-out;
}