#intro {
    z-index: 5; /* This puts the the page on top */
    left: -100vw;
}

/* intro inner - first child */
#intro #intro-inner {
    /* element Size */
    height: auto;
    width: auto;

    /* Placing / centering */
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    display: block;
    margin-left: 20px;
}

/* input - email */
#intro #intro-inner form input {
    background: transparent;

    padding: 20px;
   
    /* text styling */
    text-align: center;
    color: white;

    /* Border styling */
    border: 0px transparent;
    border-bottom: solid 1px white;
}